
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  gap: 16px;
}

.form-grid > div {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.demo-button-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

